name: Safeguard - Deploy on Prod

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: copy files
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          source: "."
          target: /root/safeguard
      - name: Executing remote SSH commands using key
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.HOST }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          username: ${{ secrets.USER }}
          script: |
            # Get the branch name from the GitHub Actions context
            TARGET_DIR="/root/safeguard"
            PM2_NAME="safeguard"

            echo "Deploying"
            cd /root/safeguard/safeguard-web 
            # Stop and clean up the existing PM2 process
            pm2 stop $PM2_NAME || true
            pm2 delete $PM2_NAME || true

            # Remove the old directory and pull the latest code           
            cd $TARGET_DIR
            ls $TARGET_DIR

            # Build and deploy the application
            npm install
            npm run swagger-autogen
            npm run build
            pm2 start "npm start" --name $PM2_NAME
            pm2 save