name: Deploy on Prod and Dev (nome do projeto)

on:
  push:
    branches:
      - main (master)

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: copy files
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          source: "."
          target: /root/api-miniapp (diretório do front)
      - name: Executing remote SSH commands using key
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.HOST }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          username: ${{ secrets.USER }}
          script: |
            # Get the branch name from the GitHub Actions context
            TARGET_DIR="/root/api-miniapp" (diretório do front)
            PM2_NAME="backend" (nome do processo no pm2 não pode ser duplicado)
            ENV_FILE=".env-backend.production"

            echo "Deploying"

            # Stop and clean up the existing PM2 process
            pm2 stop $PM2_NAME || true
            pm2 delete $PM2_NAME || true

            # Remove the old directory and pull the latest code           
            cd $TARGET_DIR
            ls $TARGET_DIR
            cp /usr/src/envs/$ENV_FILE $TARGET_DIR/.env

            # Build and deploy the application
            npm install
            npm run swagger-autogen
            npm run build
            pm2 start "npm start" --name $PM2_NAME
            pm2 save